{% extends "base.html" %} {% block content %} {% include "header.html" %}
<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Course Catalog App!</h1>
    <p>Brouse Online Courses</p>
    <p>
        <a href="/" class="btn btn-lg btn-success">Explore</a>
        <a href="/login" class="btn btn-lg btn-success">Login</a>
        <a href="/signup" class="btn btn-lg btn-success">Signup</a>
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Courses List of {{subject.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="list-group">
                {% for course in courses %}
                    <a href="#" class="list-group-item">{{course.name}}</a> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}