{% extends "base.html" %} {% block content %} {% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Subjects List</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="list-group">
                            {% for subject in allSubjects %}
                            <a href="{{url_for('showCourse', subject_id = subject.id)}}" class="list-group-item">{{subject.name}}</a> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-md-9">
                                Courses List of {{subject.name}}
                            </div>
                            <div class="col-md-3 text-right">
                                <a class="btn btn-xs btn-success" href="{{url_for('newCourse',subject_id = subject.id)}}" role="button">Add</a>
                                {% if (user_id == subject.user_id) : %}
                                    <a class="btn btn-xs btn-warning" href="{{url_for('editSubject',subject_id = subject.id)}}" role="button">Edit</a>
                                    <a class="btn btn-xs btn-danger" href="{{url_for('deleteSubject',subject_id = subject.id)}}" role="button">Delete</a>
                                {% endif %}
                            </div> 
                        </div>  
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for course in courses %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://lorempixel.com/480/480/people/" alt="image">
                                <div class="caption">
                                    <h5><strong>{{course.name}}</strong></h5>
                                    <p>Author - {{course.author_name}}</p>
                                    <p>Price - {{course.price}}</p>
                                    <p>
                                        <a href="{{url_for('courseDetails',subject_id = subject.id, course_id=course.id)}}" class="btn btn-primary" role="button">Show More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}