{% extends "base.html" %} {% block content %} {% include "header.html" %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Course Catalog App!</h1>
        <p>Brouse Online Courses</p>
        <p>
            <a href="/" class="btn btn-lg btn-success">Explore</a>
            <a href="/login" class="btn btn-lg btn-success">Login</a>
            <a href="/signup" class="btn btn-lg btn-success">Signup</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{subject.name}}</h3>
                    <h3 class="panel-title">Related Courses</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="list-group">
                            {% for course in courses %}
                            <a href="{{url_for('courseDetails', subject_id = subject.id, course_id=course.id)}}" class="list-group-item">{{course.name}}</a> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-md-9">
                                Details of {{selectedCourse.name}}
                            </div>
                            <div class="col-md-3 text-right">
                                {% if (user_id == selectedCourse.user_id) : %}
                                    <a class="btn btn-xs btn-warning" href="{{url_for('editSubject',subject_id = subject.id)}}" role="button">Edit</a>
                                    <a class="btn btn-xs btn-danger" href="{{url_for('deleteSubject',subject_id = subject.id)}}" role="button">Delete</a>
                                {% endif %}
                            </div> 
                        </div>  
                    </h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="http://lorempixel.com/1024/480/people/" alt="">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{selectedCourse.name}}</h4>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-right">Author - {{selectedCourse.author_name}}, Price: {{selectedCourse.price}}</h4>
                        </div>
                    </div>
                    <p class="text-justify">{{selectedCourse.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}