{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="jumbotron">
        <h1><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Course Catalog App!</h1>
        <p>Brouse Online Courses</p>
        <p>
            <a href="/" class="btn btn-lg btn-success" >Explore</a>
            <a href="/login" class="btn btn-lg btn-success" >Login</a>
            <a href="/signup" class="btn btn-lg btn-success" >Signup</a>
        </p>
    </div>
{% endblock %}